@import "tailwindcss";

@theme {
  /* Fonts */
  --font-harmond: 'Harmond', sans-serif;
  --font-offbit: 'OffBit', monospace;
  --font-galgo: 'Galgo', sans-serif;
  --font-family-harmond: var(--font-harmond), sans-serif;
  --font-family-offbit: var(--font-offbit), monospace;
  --font-family-galgo: var(--font-galgo), sans-serif;

  /* Color Mappings */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

/* Set default styles */
:root {
  /* The Void Color Palette */
  --background: #050505;
  --foreground: #E6E6E6;
  --muted: #888888;
  --card: #0F0F0F;
  --accent: #CCFF00;
  --border: #262626;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-harmond), sans-serif; 
}