@import "tailwindcss";

@theme {
  --font-harmond: var(--font-harmond);
  --font-offbit: var(--font-offbit);

  /* Mapping the font-family utilities */
  --font-family-harmond: var(--font-harmond), sans-serif;
  --font-family-offbit: var(--font-offbit), monospace;
}

/* Set default styles */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Set the default font */
  font-family: var(--font-harmond), sans-serif; 
}
